<% this.title = contest.title + ' - 比赛气球' %>
<% include header %>
<div class="padding">
    <table class="ui very basic center aligned table">
        <thead>
        <tr>
            <th> <%-createSortableTitle('time', '耗时', true) %> </th>
            <th> 用户名 </th>
            <th> nick </th>
            <th> <%-createSortableTitle('problem', '题目', true) %> </th>
            <th> 机房 </th>
            <th> 座位号 </th>
            <th>  </th>
        </tr>
        </thead>
        <tbody>
            <% for (let item of balls) {%>
                <tr id = "<%= item.submission.id %>">
                    <td>
                        <%= item.time %>
                    </td>
                    <td>
                        <%= item.user.username%>
                    </td>
                    <td>
                        <%= item.user.nickname%>
                    </td>
                    <td>
                        <%= "ABCDEFGHIJKLMNOPQRSTUVWXYZ".at(item.problem_id) %>
                    </td>
                    <td>
                        <%= item.room %>
                    </td>
                    <td>
                        <%= item.position %>
                    </td>
                    <td>
                        <div class="ui vertical animated button small basic " tabindex="0" onclick="done(<%= item.submission.id %>)">
                            <div class="visible content">
                                <i class="circle notch icon "></i>
                              </div>
                            <div class="hidden content">送气球</div>
                        </div>
                    </td>
                </tr>

            <%}%>
        </tbody>
    </table>
</div>
<script>
    function done(sid) {
        $.post("/contest/" + "<%= contest.id%>" + "/ball/" + sid, (res) => {
            if(res.error) {
                alert(res.error)
                return
            }
            $('#' + sid).remove()
        })
    }
</script>
<% include footer %>
